Allotment/Service References/NMSWP_DistrictUpdate/Dist_updation_after_land_allotmt_By_Dpt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Unit_Industry_District_Location_Updation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dept_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dist_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address_Max_200_char" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unit_Industry_District_Location_UpdationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unit_Industry_District_Location_UpdationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Unit_Industry_District_Location_UpdationSoapIn">
    <wsdl:part name="parameters" element="tns:Unit_Industry_District_Location_Updation" />
  </wsdl:message>
  <wsdl:message name="Unit_Industry_District_Location_UpdationSoapOut">
    <wsdl:part name="parameters" element="tns:Unit_Industry_District_Location_UpdationResponse" />
  </wsdl:message>
  <wsdl:message name="Unit_Industry_District_Location_UpdationHttpGetIn">
    <wsdl:part name="Dept_ID" type="s:string" />
    <wsdl:part name="UnitID" type="s:string" />
    <wsdl:part name="Dist_Code" type="s:string" />
    <wsdl:part name="Address_Max_200_char" type="s:string" />
    <wsdl:part name="PIN" type="s:string" />
    <wsdl:part name="paskey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unit_Industry_District_Location_UpdationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Unit_Industry_District_Location_UpdationHttpPostIn">
    <wsdl:part name="Dept_ID" type="s:string" />
    <wsdl:part name="UnitID" type="s:string" />
    <wsdl:part name="Dist_Code" type="s:string" />
    <wsdl:part name="Address_Max_200_char" type="s:string" />
    <wsdl:part name="PIN" type="s:string" />
    <wsdl:part name="paskey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Unit_Industry_District_Location_UpdationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Dist_updation_after_land_allotmt_By_DptSoap">
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <wsdl:input message="tns:Unit_Industry_District_Location_UpdationSoapIn" />
      <wsdl:output message="tns:Unit_Industry_District_Location_UpdationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Dist_updation_after_land_allotmt_By_DptHttpGet">
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <wsdl:input message="tns:Unit_Industry_District_Location_UpdationHttpGetIn" />
      <wsdl:output message="tns:Unit_Industry_District_Location_UpdationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Dist_updation_after_land_allotmt_By_DptHttpPost">
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <wsdl:input message="tns:Unit_Industry_District_Location_UpdationHttpPostIn" />
      <wsdl:output message="tns:Unit_Industry_District_Location_UpdationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Dist_updation_after_land_allotmt_By_DptSoap" type="tns:Dist_updation_after_land_allotmt_By_DptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <soap:operation soapAction="http://tempuri.org/Unit_Industry_District_Location_Updation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Dist_updation_after_land_allotmt_By_DptSoap12" type="tns:Dist_updation_after_land_allotmt_By_DptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <soap12:operation soapAction="http://tempuri.org/Unit_Industry_District_Location_Updation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Dist_updation_after_land_allotmt_By_DptHttpGet" type="tns:Dist_updation_after_land_allotmt_By_DptHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <http:operation location="/Unit_Industry_District_Location_Updation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Dist_updation_after_land_allotmt_By_DptHttpPost" type="tns:Dist_updation_after_land_allotmt_By_DptHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Unit_Industry_District_Location_Updation">
      <http:operation location="/Unit_Industry_District_Location_Updation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dist_updation_after_land_allotmt_By_Dpt">
    <wsdl:port name="Dist_updation_after_land_allotmt_By_DptSoap" binding="tns:Dist_updation_after_land_allotmt_By_DptSoap">
      <soap:address location="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" />
    </wsdl:port>
    <wsdl:port name="Dist_updation_after_land_allotmt_By_DptSoap12" binding="tns:Dist_updation_after_land_allotmt_By_DptSoap12">
      <soap12:address location="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" />
    </wsdl:port>
    <wsdl:port name="Dist_updation_after_land_allotmt_By_DptHttpGet" binding="tns:Dist_updation_after_land_allotmt_By_DptHttpGet">
      <http:address location="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" />
    </wsdl:port>
    <wsdl:port name="Dist_updation_after_land_allotmt_By_DptHttpPost" binding="tns:Dist_updation_after_land_allotmt_By_DptHttpPost">
      <http:address location="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>